{{ page.navigation }}

<main id="main-content" class="page-reply-comment-page">
  <div class="max-width">
    <div class="row">
      <div class="col-1 desktop">&nbsp;</div>
      <div class="col-10">
        <div class="panel-comments">
          {{ page.content }}
        </div>
      </div>
      <div class="col-1 desktop">&nbsp;</div>
    </div>
  </div>
</main>

{{ page.footer }}
