.sidebar{
  &.fixed-sidebar{
    position: absolute;
    widows: 25%;
    padding-left: 20px;
    padding-right: 20px;

    @media only screen and (min-width: 2000px){
      padding-left: 1vw;
      padding-right: 1vw;
    }
  }

  li{
    transition: 0.3s ease-out;
  }
}

