$maxWidth: 1240px;
$grid-spacing:40px;
$mobile-spacing: 15px;
$small-mobile-spacing: 8px;

$lineHeightP: 26px;
$lineHeightPBigScreen: 1.3vw;

$panelDistance: 70px;

$panelDistanceMobile: 50px;

@import '_helper.scss';
@import '_fonts.scss';
@import '_grid.scss';
@import '_popups.scss';

@import '../templates/components/panel-about/index.scss';
@import '../templates/components/panel-banner/index.scss';
@import '../templates/components/panel-bg-with-text/index.scss';
@import '../templates/components/panel-blog-image/index.scss';
@import '../templates/components/panel-blog-image-slider/index.scss';
@import '../templates/components/panel-blog-teaser/index.scss';
@import '../templates/components/panel-blog-text/index.scss';
@import '../templates/components/panel-blog-video/index.scss';
@import '../templates/components/panel-contact/index.scss';
@import '../templates/components/panel-faq/index.scss';
@import '../templates/components/panel-hero/index.scss';
@import '../templates/components/panel-hero-slider/index.scss';
@import '../templates/components/panel-image-grid/index.scss';
@import '../templates/components/panel-legal/index.scss';
@import '../templates/components/panel-quotes/index.scss';
@import '../templates/components/panel-partner/index.scss';
@import '../templates/components/panel-text/index.scss';
@import '../templates/components/panel-usp/index.scss';

@import '_header.scss';
@import '_footer.scss';
@import '_sidebar.scss';
@import '_blog-extra.scss';
@import '_cookie-banner.scss';
@import '_drupal-extra-code.scss';
