<div class="select-custom-outer-wrap custom-lang-switch-wrap">
  <div class="filter-dropdown" data-id="treeview-themes" data-value="theme-autumn-html">
    <div class="selection">
      <div class="selection-text">{# filled by js #}</div>

      <div class="dropdown-arrow">
        <i class="fas fa-chevron-down"></i>
      </div>
    </div>

    <div class="expand-row" style="display: none;">
      <div class="expand-row-inner">
        {# filled by js #}
      </div>
    </div>
  </div>
</div>
