{{ page.navigation }}

<main id="main-content">
  {{ page.content }}
</main>

{{ page.footer }}
<section class="footer-copyright">
    &copy;
    {{ "now"|date("Y") }}
    tjgillespie.photography, All Rights Reserved
</section>
