.panel-usp{
  .slick-dots{
    position: relative;
    bottom: 0;
    margin-top: 20px;

    @media only screen and (min-width: 2000px) {
      margin-top: 1vw;
    }
  }

  .features-wrap{
    position: relative;
  }

  .element-usp{
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;

    @media only screen and (min-width: 2000px) {
      padding-left: 1vw;
      padding-right: 1vw;
    }

    h2,
    h3,
    h4,
    h5,
    h6{
      margin-bottom: 10px;

      @media only screen and (min-width: 2000px) {
        margin-bottom: 0.5vw;
      }
    }

    .icon-wrap{
      i{
        font-size: 100px;

        @media only screen and (min-width: 2000px) {
          font-size: 5vw;
        }
      }
    }

    .text-wrap{
      margin-top: 20px;

      @media only screen and (min-width: 2000px) {
        margin-top: 1vw;
      }

      .subtitle{
        margin-bottom: 10px;

        @media only screen and (min-width: 2000px) {
          margin-bottom: 0.5vw;
        }
      }
    }
  }

  @media only screen and (min-width: 768px) {
    .slider-navi{
      display: none;
    }
  }

  @media only screen and (max-width: 767px) {
    .element-usp{
      padding-left: 30px;
      padding-right: 30px;
    }
  }
}
