<div class="slide-ele">
  <div class="animation-helper">
    <div class="row">
      <div class="col-3 desktop">&nbsp;</div>
      <div class="col-6">
        <div class="inner-text-layer">
          <blockquote>{{ content.field_text_01 }}</blockquote>
          <h6>{{ content.field_text_02 }}</h6>
        </div>
      </div>
      <div class="col-3 desktop">&nbsp;</div>
    </div>
  </div>
</div>
