<div class="element-usp">
  <div class="animation-helper">
    <div class="icon-wrap">
      {{ content.field_icon_01 }}
    </div>

    <div class="text-wrap">
      {{ content.field_area_01 }}
    </div>
  </div>
</div>
