.panel-hero{
  height: 100vh;
  overflow: hidden;
  position: relative;
  margin-top: $panelDistance;
  margin-bottom: $panelDistance;

  @media only screen and (max-width: 767px) {
    margin-top: $panelDistanceMobile;
    margin-bottom: $panelDistanceMobile;
  }

  @media only screen and (min-width: 2000px) {
    margin-top: 3.5vw;
    margin-bottom: 3.5vw;
  }

  &:first-of-type{
    margin-top: 0 !important;
  }

  .bg-image{
    background-size: cover;
    background-position: center;
    height: 100%;
    transform: translate(0, 0);
    will-change: transform;
  }

  .text-layer{
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    text-align: center;
    transform: translate(0, -50%);

    .inner-text-layer{
      display: inline-block;
      position: relative;

      &:before{
        position: absolute;
        width: 120%;
        height: 200%;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        content: "";
        opacity: 0.35;
        border-radius: 50%;
        filter: blur(50px);
        z-index: 1;
      }

      *{
        position: relative;
        z-index: 5;
      }
    }
  }

  //options
  &.text-bottom-align{
    .text-layer{
      transform: none;
      top: auto;
      bottom: 15%;
    }
  }
  &.text-top-align{
    .text-layer{
      transform: none;
      top: auto;
      top: 15%;
    }
  }

  &.text-readability-off{
    .text-layer{
      .inner-text-layer{
        &:before{
          display: none;
        }
      }
    }
  }

  &.hero-half{
    height: 50vh;
  }
}

body:not(.autumn_parallax-0){
  .panel-hero:not(.hero-half){
    .bg-image{
      height: 120%;

      @media only screen and (max-width: 767px) {
        height: 100%;
        transform: none !important;
      }
    }

    &.not-first-hero{
      .bg-image{
        height: 140%;

        @media only screen and (max-width: 767px) {
          height: 100%;
          transform: none !important;
        }
      }
    }

    &.no-parallax{
      .bg-image{
        height: 100%;
        transform: none !important;
      }
    }
  }
}
